# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.envcd

# Build files
client/dist/
client/build/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*